@{
	ViewBag.Title = "Index";
}

@model IEnumerable<Klienci>

<h2 class="text-center">Klienci</h2>
<a class="my-3 btn btn-primary" href="@Url.Action("Create", "Test")">
	Dodaj klienta
</a>
<table class="table table-striped">
	<tr>
		<th>Id</th>
		<th>Name</th>
		<th>Surname</th>
		<th>PESEL</th>
		<th>BirthYear</th>
		<th>Płeć</th>
		<th></th>
		<th></th>
	</tr>
	@foreach (var klient in Model) {
		<tr>
			<td>@klient.Id</td> 
			<td>@klient.Name</td>
			<td>@klient.Surname</td>
			<td>@klient.PESEL</td>
			<td>@klient.BirthYear</td>
			<td>@klient.Płeć</td>
			<td>
				<a class="btn btn-info px-4 py-1 text-decoration-none rounded" href="@Url.Action("Edit", "Test", new { id = klient.Id })">
					Edycja
				</a>
			</td>
			<td>
				<a class="btn btn-danger px-4 py-1 text-decoration-none rounded" href="@Url.Action("Delete", "Test", new { id = klient.Id })">
					Usuń
				</a>
			</td>
		</tr>
	}
</table>